apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: logforge-dev
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/lechuhuuha/log_forge.git
    targetRevision: main
    path: deploy/helm/logforge
    helm:
      valueFiles:
        - ../../env/dev/values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
