version: 2
server:
  addr: ":8083"
storage:
  logsDir: "./logs"
  analyticsDir: "./analytics"
aggregation:
  interval: 30s
kafka:
  brokers:
    - localhost:19092
  topic: logs
  groupID: logs-consumer-group
  batchSize: 500
  batchTimeout: 200ms
  # use enough consumers to cover partitions and keep up with bursts
  consumers: 10
  requireAllAcks: true
