version: 2
server:
  addr: ":8083"
storage:
  logsDir: "./logs"
  analyticsDir: "./analytics"
aggregation:
  interval: 30s
kafka:
  brokers:
    - localhost:19092
  topic: logs
  groupID: logs-consumer-group
  batchSize: 100
  batchTimeout: 1s
  # only need 3 go routine consumer for 10 patrittion in kafka
  consumers: 3
  requireAllAcks: true
